# Data and Environment
Ecg12Data/
ECG12_RET_PNG_PDF/
/venv/
/tools/
/examples/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

data/*.csv


# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Testing
.coverage
htmlcov/
/tests/
.pytest_cache/

# Logs and databases
*.log
*.sqlite