# Data and Environment
/Ecg12Data/
/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs and databases
*.log
*.sqlite